
<div class="mt-5">
<a href="https://randomapi.com/api/9f2llkec?key=24OO-GE4H-CR87-LV0M" target="_blank">https://randomapi.com/api/9f2llkec?key=24OO-GE4H-CR87-LV0M</a>
<hr>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Sexo</th>
            <th scope="col">Documento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of arrUsers.results[0]">
            <td>{{ item.name }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.sex }}</td>
            <td>{{ item.document }}</td>
          </tr>
        </tbody>
      </table>
</div>
